<mat-card>
  <mat-card-title [ngStyle]="titleStyle">{{ title }}</mat-card-title>
  <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
  <mat-card-content [ngClass]="{ 'inactive': !messageViewable }">{{ message }}</mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary"
            [disabled]="!messageViewable"
            (click)="onView()"
    >View message</button>
    <mat-form-field *ngIf="messageViewable">
      <input type="text" placeholder="Set your own subtitle" [(ngModel)]="subtitle" matInput
      >
    </mat-form-field>
  </mat-card-actions>
</mat-card>
