<mat-card>
  <mat-card-title [ngStyle]="titleStyle" #cardTitle>
    {{ message.title }}
  </mat-card-title>
  <mat-card-subtitle>{{ subtitle }} - {{ message.date | date:'MMMM dd, yyyy' }}</mat-card-subtitle>
  <mat-card-content [ngClass]="{ 'inactive': !message.viewable }">
    {{ message.message | shorten:30 }}
    <ng-content></ng-content>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary"
            [disabled]="!message.viewable"
            (click)="onView()"
    >View message</button>
    <mat-form-field *ngIf="message.viewable">
      <input type="text" placeholder="Set your own subtitle" [(ngModel)]="subtitle" matInput
      >
    </mat-form-field>
  </mat-card-actions>
</mat-card>
